#login-pass { padding-bottom: 1rem; }
#settings {height: 100vh; display:block;margin-top: -100vh; transition: margin-top 0.5s;}
#settings.open { margin-top: 0;}
#dashboard-group {height: 97vh; overflow-y: scroll;margin-top: 3vh;}
.ring-circle {
  fill: none;
  stroke: #A0D568;
  stroke-linecap: round;
  stroke-width: 4;
  animation: ring-circle-animation 0.6s ease-out;
}
@keyframes ring-circle-animation {
  0% {
    stroke-dasharray: 0 100;
  }
}
.ui.toggle.checkbox input:checked ~ label:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: lime!important;
}

.ui.toggle.checkbox input ~ label:before,
.ui.toggle.checkbox input:focus ~ label:before {
  background-color: red!important;
}

.red { background-color: #ED5564;}
.orange { background-color: #F6925C;}
.yellow { background-color: #FFCE54;}
.olive { background-color: #D0D25E;}
.green { background-color: #A0D568;}
.teal { background-color: #78CBA8;}
.blue { background-color: #4FC1E8;}
.violet { background-color: #7EAAEA;}
.purple { background-color: #AC92EB;}
.pink { background-color: #CD74A8;}
.brown { background-color: #AE4309;}
.grey { background-color: #4C4C51;}
.black { background-color: #25252A;}
.ItemContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  display:none;
}

.ItemContainer > .menu {
  display: none;
  height: 100vh;
}

.transition.expand-menu {
  animation-name: expand-background;
}

@keyframes expand-background {
  0% {
    width:0; left: 50%;
    height: 20px; top: 50%;
  }
  50% {
    left: 0px; width:100vw;
    height: 20px; top: 50%;
  }
  100% {
    left: 0; width:100vw;
    top: 0; height: 100vh;
  }
}

#search-results{ 
  max-height: 40rem;
}

#quiz-container{
  height: 100vh;
  margin-top: 0;
  position: relative;
}
#quiz-container .column:first-child,
#quiz-container .column:last-child {
  margin:0;padding:0;
}
#quiz-container .column:nth-child(2){
  padding: 0 1rem;
}

.totalscore {
  width: calc(100% - 2em);
  position: absolute;
  top: 0;
  left: 1em;
  height: 20vh;
}

.scorebar {
  position:absolute;
}
.scorebar > .progress{
  max-width: 100vh!important;
  width: 100vh!important;
}
#player-score.scorebar {
  transform: rotate(90deg);
  transform-origin: top left;
  left: 1em;
}
#opponent-score.scorebar {
  transform: rotate(270deg);
  transform-origin: top right;
  right: 1em;
}